.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container img {
  max-width: 30%;
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container button {
  margin-bottom: 50px;
  border-radius: 30px;
}
.container button:hover {
  color: rgb(122, 228, 246);
}
