* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sofia-pro, sans-serif;
  --primary: #F2B138;
  --secondary: #6574d0;
  --outline: #ffffff;
  --background: #f2f4f8;
  --border: rgb(220, 220, 220);
  --card-background: rgb(255, 255, 255);
}

